{{!
    Default layout
    ==============
    Edit this as you see fit, but do not remove the RequireJS entry point,
    unless of course you know what you are doing =)

    Note:
    - 'common.js' has to be required before 'body' to load common modules bundle that
    will be used by other client applications


}}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title><%= projectName %></title>

    <link rel="stylesheet" href="/assets/css/site.css"/>
</head>
<body>
{{! Load browserified `common` bundle }}
<script src="/dist/js/common.js"></script>

{{{body}}}

</body>
</html>