{{!
    Default layout
    ==============
    Edit this as you see fit, but do not remove the RequireJS entry point,
    unless of course you know what you are doing =)

    Note:
    - '/main.js' has to be required before 'body'
    - You may use '/build/main.js' instead if you want to use minified version of the client apps.
      Ensure that you have run 'grunt' first to build minified client Javascript files

}}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title><%= projectName %></title>

    <link rel="stylesheet" href="/assets/css/site.css"/>
</head>
<body>
{{! Load main entry-point using RequireJS }}
<script src="/assets/js/vendor/requirejs/require.js" data-main="/main.js"></script>
<!-- Replace the above <script> tag with the following <script> tag to use a minified version of the client apps -->
<!-- <script src="/assets/js/vendor/requirejs/require.js" data-main="/build/main.js"></script> -->

{{{body}}}

</body>
</html>