<h1 >Hello World! <span ng-if="greetings">{{ greetings }}</span></h1>
<p>You have just successfully created a LEANER Angular scaffold for your <strong><%= ngAppName %></strong> app!</p>
<hr/>
<h2>Next Step</h2>
<h2>Flesh out generated default ng-modules</h2>
        <p>For starters, the following modules have been created for you: </p>
        <ul>
            <li><code><%= ngAppName %>.controllers:</code> <small><code>(/client/apps/<%= ngAppName %>/controllers)</code></small></li>
            <li><code><%= ngAppName %>.directives:</code> <small><code>(/client/apps/<%= ngAppName %>/directives)</code></small></li>
            <li><code><%= ngAppName %>.filters:</code> <small><code>(/client/apps/<%= ngAppName %>/filters)</code></small></li>
            <li><code><%= ngAppName %>.services:</code> <small><code>(/client/apps/<%= ngAppName %>/services)</code></small></li>
        </ul>

        <p>A sample controller <code><%= ngAppName %>.controllers.HomeController</code> has been created for you to help you get started.</p>

<h2>Create your own ng-modules</h2>
<p>You can start creating your own modules for your Angular app.</p>
<p>Simply run the following command: </p>
        <blockquote><pre>yo leaner:ng-module <%= ngAppName%>.myModule</pre></blockquote>

<h2>Or architect your own app organization!</h2>

        <p>This stack has been designed to be flexible and only 42% opinionated. The rest is up to you!</p>

        <hr/>