{{!
    Default /home view
    -------------------
    Feel free to edit this and fill it with your own great content!
}}
<div>
    <h1>Congratulations!</h1>
    <h2>You have successfully generated your LEANER stack!</h2>
    <p>LEANER is a <strong>L</strong>ightweight (and <strong>L</strong>eaner!) full web application stack, filled with the following goodness:</p>
    <ul>
        <li><strong>E</strong>xpressJS for your server-side dishes</li>
        <li><strong>A</strong>ngularJS for your client rich interactions</li>
        <li><strong>N</strong>odeJS, of course!</li>
        <li><strong>R</strong>equireJS for all of that delicious asynchronous module definitions (AMD) cake!</li>
    </ul>

    <hr/>
    <h2>Getting Started</h2>
    <h3>1. Create an Angular App</h3>
    <blockquote><pre>yo leaner:ng-app myApp</pre></blockquote>
    <hr/>
    <p>For more information, see the <a href="/about">About</a> page</p>
</div>

