<div ui-view>
    Loading <%= ngAppName %>...
</div>
<!--
/**
* Bootstraps Angular app <%= ngAppName%> onto the window.document node.
*
* NOTE: the ng-app attribute should not be on the index.html when using ng.bootstrap
*/
-->
<script src="/dist/js/apps/<%= ngAppName%>/app.js"></script>
<script type="text/javascript">
    'use strict';
    try {
        angular.element(document).ready(function() {
            angular.bootstrap(document, ['<%= ngAppName %>']);
        });
    } catch (e) {
        console.error(e.message);
    }
</script>